@page
@model cadastro.Pages.Fornecedores.IndexModel
@{
}

<br />

<h2>Lista de Fornecedores</h2>
<a class="btn btn-primary btn-sm" href="/Fornecedores/Create">Adicionar Fornecedor</a>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Nome</th>
            <th>CNPJ</th>
            <th>Especialidade</th>
            <th>CEP</th>
            <th>Endereço</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listFornecedor)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.nome</td>
                <td>@item.cnpj</td>
                <td>@item.especialidade</td>
                <td>@item.cep</td>
                <td>@item.endereco</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Fornecedores/Edit?id=@item.id">Editar</a>
                    <a class="btn btn-danger btn-sm" href="/Fornecedores/Delete?id=@item.id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>